<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        margin: 24px;
      }
      table {
        width: 100%;
        max-width: 100%;
      }
      table,
      td,
      th {
        border: solid 2px black;
        border-collapse: collapse;
      }
      td,
      th {
        padding: 5px;
      }
      input {
        padding: 10px;
      }
      input {
        width: 80%;
        margin-bottom: 10px;
      }
      input[type="submit"] {
        width: 10%;
        margin-bottom: 10px;
      }
    </style>
    <title>Adiciona Usuário</title>
  </head>
  <body>
    <ul>
      <li>
        <a href="/admin/user/add">Adicionar Usuário</a>
      </li>
      <li>
        <a href="/admin/user">Listar Usuário</a>
      </li>
      <li>
        <a href="/admin/post/add">Adicionar Post</a>
      </li>
      <li>
        <a href="/admin/post">Listar Post</a>
      </li>
      <li>
        <a href="/category/add">Adicionar Categoria</a>
      </li>
      <li>
        <a href="/category">Listar Categoria</a>
      </li>
    </ul>
  </body>
</html>
