<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="h-screen flex" style="background-color: #15202b">
    <div
      class="flex w-1/2 bg-gradient-to-bl from-sky-400 to-blue-800 i justify-around items-center"
    ></div>
    <div class="flex w-1/2 justify-center items-center">
      <form method="post" class="w-1/2" enctype="multipart/form-data">
        <h1 class="text-gray-200 font-bold text-2xl mb-1">Bem Vindo!</h1>
        <p class="text-sm font-normal text-gray-300 mb-7">
          Entre para nossa comunidade.
        </p>
        <div
          class="flex flex-col items-center justify-center py-2 px-3 rounded-2xl mb-4"
        >
          <label
            class="w-24 h-24 bg-gray-800 rounded-full text-white flex items-center justify-center mb-2 cursor-pointer"
            for="avatar"
          >
            <img
              id="avatarPreview"
              name="avatarPreview"
              class="w-24 h-24 rounded-full"
              src=""
              hidden
            />
            <div id="icon">
              <svg
                class="h-8 w-8"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                ></path>
              </svg>
            </div>
          </label>

          <input
            hidden
            onchange="updateAvatar()"
            type="file"
            name="avatar"
            id="avatar"
            accept="image/*"
            required
          />
        </div>

        <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-gray-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
            />
          </svg>
          <input
            class="w-full pl-2 outline-none border-none bg-transparent text-white"
            type="text"
            name="username"
            id="username"
            placeholder="Usuario"
            required
          />
        </div>
        <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
          <svg
            class="h-6 w-6 text-gray-400"
            fill="none"
            viewBox="0 0 21 21"
            stroke="currentColor"
          >
            <path
              stroke-width="1"
              d="M17.388,4.751H2.613c-0.213,0-0.389,0.175-0.389,0.389v9.72c0,0.216,0.175,0.389,0.389,0.389h14.775c0.214,0,0.389-0.173,0.389-0.389v-9.72C17.776,4.926,17.602,4.751,17.388,4.751 M16.448,5.53L10,11.984L3.552,5.53H16.448zM3.002,6.081l3.921,3.925l-3.921,3.925V6.081z M3.56,14.471l3.914-3.916l2.253,2.253c0.153,0.153,0.395,0.153,0.548,0l2.253-2.253l3.913,3.916H3.56z M16.999,13.931l-3.921-3.925l3.921-3.925V13.931z"
            ></path>
          </svg>
          <input
            class="w-full pl-2 outline-none border-none bg-transparent text-white"
            type="text"
            name="email"
            id="email"
            placeholder="Email"
            required
          />
        </div>
        <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
              clip-rule="evenodd"
            />
          </svg>
          <input
            class="w-full pl-2 outline-none border-none bg-transparent text-white"
            type="password"
            name="password"
            id="password"
            placeholder="Senha"
            required
          />
        </div>

        <% if(message) { %>
        <p class="text-red-400 text-sm mt-4"><%= message %></p>
        <% } %>

        <button
          type="submit"
          class="block w-full bg-blue-400 hover:bg-blue-500 mt-4 py-2 rounded-2xl text-white font-semibold mb-2"
        >
          Registrar-se
        </button>
        <a
          href="/auth/login"
          class="block w-full mt-4 py-2 rounded-2xl text-center text-white font-semibold mb-2"
        >
          Entrar
        </a>
      </form>
    </div>
    <script>
      updateAvatar = () => {
        var avatar = document.getElementById("avatar");
        var avatarPreview = document.getElementById("avatarPreview");
        var icon = document.getElementById("icon");

        avatarPreview.hidden = false;
        icon.hidden = true;
        const reader = new FileReader();
        reader.onload = (e) => {
          avatarPreview.src = e.target.result;
        };
        reader.readAsDataURL(avatar.files[0]);
      };
    </script>
  </body>
</html>
