<%-include('cabecalho')-%>

<h1>Adiciona Usuário</h1>
<form method="post" enctype="multipart/form-data">
  Texto: <textarea name="texto" id="texto" cols="30" rows="10"></textarea><br />
  <input type="submit" value="Adicionar" />
</form>
